.steam-game-title {
    font-size: 5em;
    font-size: calc(100% + 3vw);
    color: var(--theme-light);
    text-align: center;
    font-family: 'Montserrat-Bold';
    margin: 2em;
}

.steam-widget-container {
    position: relative;
    max-width: 646px;
    max-height: 190px;
    width: 100%;
    height: 190px;
    margin-bottom: 2em;
}

.steam-widget {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}