.content-overlay {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    padding-bottom: 50px;
    padding: 0 2em;
}

.content-text {
    max-width: 35em;
    font-size: 1.5em;
    text-align: center;
    color: var(--theme-light);
    margin-bottom: 2em;
}

.wishlist-link {
    text-decoration: none;
    color: var(--theme-light);
    border: 1px solid var(--theme-light);
    font-size: 1.3em;
    padding: 10px 30px;
    border-radius: 4px;
}

.woot-logo {
    height: 30em;
    opacity: 0.9;
}