.content-overlay {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    padding-bottom: 50px;
    padding: 0 2em;
}

.content-text {
    max-width: 35em;
    font-size: 1.5em;
    text-align: center;
    color: var(--theme-light);
    margin-bottom: 2em;
}

.video-container {
    width: 57vw;
    height: 32vw;
    display: flex;
    position: relative;
    /* padding-bottom: 56.25%; */
}

.video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wishlist-link {
    text-decoration: none;
    color: var(--theme-light);
    border: 1px solid var(--theme-light);
    font-size: 1.3em;
    padding: 10px 30px;
    border-radius: 4px;
    margin-bottom: 2em;
}

.woot-logo {
    height: 13em;
    opacity: 0.9;
}