.content-overlay {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    padding-bottom: 50px;
    padding: 0 2em;
}

.content-text {
    max-width: 35em;
    font-size: 1.5em;
    text-align: center;
    color: var(--theme-light);
    margin-bottom: 2em;
}

.video-container {
    width: 100%;
    display: flex;
}

.video-player {
    margin: 0 auto;
    width: 57vw;
    height: 31vw;
    max-width: 1200px;
    min-width: 256px;
}

.wishlist-link {
    text-decoration: none;
    color: var(--theme-light);
    border: 1px solid var(--theme-light);
    font-size: 1.3em;
    padding: 10px 30px;
    border-radius: 4px;
    margin-bottom: 2em;
}

.woot-logo {
    height: 13em;
    opacity: 0.9;
}

@media (max-width: 900px) {
    .video-player {
        width: 90vw;
        height: 49vw;
        max-width: 900px;
        min-width: 256px;
    }
}